In [1]:
%matplotlib inline
%config InlineBackend.figure_format='retina'

import matplotlib.pyplot as plt
import cmocean as cm
import xarray as xr
import numpy as np
import IPython.display

In [2]:
import cosima_cookbook as cc

In [3]:
session = cc.database.create_session()

In [4]:
import pandas as pd
#pd.set_option("display.max_rows", 200)

In [14]:
cc.querying.get_experiments(session)

                                            experiment  ncfiles
0                                                woa18       24
1                                         eac-zstar-v1       29
2                                         eac-zstar-v2       76
3                   025deg_jra55_ryf9091_gadi_norediGM      312
4                       025deg_jra55_ryf9091_gadi_noGM      316
..                                                 ...      ...
209                   01deg_jra55v13_ryf9091_ssp245_mw     1259
210  01deg_jra55v13_ryf9091_DSW_BasalNoGade_NoIcb_b...       78
211    01deg_jra55v13_ryf9091_DSW_BasalGade_YesIcb_mwp      116
212             01deg_jra55v13_ryf9091_DSW_control_mwp       91
213  01deg_jra55v13_ryf9091_DSW_BasalGade_YesIcb_fr...      246

[214 rows x 2 columns]

In [5]:
vars_025deg = cc.querying.get_variables(session, experiment='jra55v13_iaf')
vars_025deg[vars_025deg['name'].str.lower().str.contains('adv')]

,name,long_name,units,frequency,ncfile,cell_methods,# ncfiles,time_start,time_end
63,temp_xflux_adv,cp*rho*dzt*dyt*u*temp,Watts,1 monthly,ocean/temp-xflux-adv/temp-xflux-adv_access-om2...,time: mean,66,1985-01-01 00:00:00,2018-01-01 00:00:00
64,temp_xflux_adv_int_z,z-integral of cp*rho*dyt*u*temp,Watts,1 monthly,ocean/temp-xflux-adv-int-z/temp-xflux-adv-int-...,time: mean,120,2198-01-01 00:00:00,2258-01-01 00:00:00
68,temp_yflux_adv,cp*rho*dzt*dxt*v*temp,Watts,1 monthly,ocean/temp-yflux-adv/temp-yflux-adv_access-om2...,time: mean,66,1985-01-01 00:00:00,2018-01-01 00:00:00
69,temp_yflux_adv_int_z,z-integral of cp*rho*dxt*v*temp,Watts,1 monthly,ocean/temp-yflux-adv-int-z/temp-yflux-adv-int-...,time: mean,153,1985-01-01 00:00:00,2258-01-01 00:00:00
139,temp_xflux_adv,cp*rho*dzt*dyt*u*temp,Watts,1 yearly,ocean/temp-xflux-adv/temp-xflux-adv_access-om2...,time: mean,600,1958-01-01 00:00:00,2258-01-01 00:00:00
140,temp_yflux_adv,cp*rho*dzt*dxt*v*temp,Watts,1 yearly,ocean/temp-yflux-adv/temp-yflux-adv_access-om2...,time: mean,600,1958-01-01 00:00:00,2258-01-01 00:00:00